

/* Start:/local/templates/custom_template/components/bitrix/breadcrumb/custom_breadcrumb/style.css?1750269108549*/
.breadcrumb-item .bx-link {
    text-decoration: none;
    color: #000;
    /* Пример */
}

.breadcrumb {
    min-height: 40px;
    padding-bottom: 0.5rem;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-divider {
    color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item a {
    color: rgba(249, 126, 56, 1);
}

.breadcrumb-item a:hover {
    color: rgba(249, 126, 56, 1);
    transition: all 0.3s ease;
}
/* End */


/* Start:/local/templates/custom_template/components/bitrix/news/list_type_news/bitrix/news.list/.default/style.css?1750345393120*/
.card-title a {
    color: #000;
    text-decoration: none;
}

.card-title a:hover {
    color: rgba(249, 126, 56, 1);
}
/* End */
/* /local/templates/custom_template/components/bitrix/breadcrumb/custom_breadcrumb/style.css?1750269108549 */
/* /local/templates/custom_template/components/bitrix/news/list_type_news/bitrix/news.list/.default/style.css?1750345393120 */
