

/* Start:/local/templates/custom_template/components/bitrix/breadcrumb/custom_breadcrumb/style.css?1750109618492*/
.breadcrumb-item .bx-link {
          text-decoration: none;
          color: #000000; /* Пример */
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}

.breadcrumb-item + .breadcrumb-divider::before {
    display: inline-block;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #6c757d;
    content: "/";
}
/* End */


/* Start:/local/templates/custom_template/components/bitrix/news/custom_news/bitrix/news.list/.default/style.css?17496920231*/


/* End */
/* /local/templates/custom_template/components/bitrix/breadcrumb/custom_breadcrumb/style.css?1750109618492 */
/* /local/templates/custom_template/components/bitrix/news/custom_news/bitrix/news.list/.default/style.css?17496920231 */
