

/* Start:/local/templates/custom_template/template_styles.css?1750344295623*/
@font-face {
    font-family: 'Golos-UI';
    src: url('/local/templates/custom_template/assets/fonts/Golos-UI_Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --brand-dark: rgba(225, 77, 49, 1);
  --brand-light: rgba(249, 126, 56, 1);
  --gray-100: rgba(239, 240, 241, 1);
  --gray-200: rgba(224, 228, 232, 1);
  --gray-300: rgba(209, 217, 225, 1);
  --gray-400: rgba(192, 200, 209, 1);
  --gray-500: rgba(144, 154, 163, 1);
  --gray-600: rgba(110, 123, 136, 1);
  --gray-700: rgba(59, 67, 81, 1);
  --gray-800: rgba(51, 54, 61, 1);
  --gray-900: rgba(21, 22, 24, 1);
}
/* End */


/* Start:/local/templates/custom_template/styles.css?17503442851250*/
body{
    font-family: 'Golos-UI', sans-serif;
}

.main {
    background-color: var(--gray-100);
}

.undermain {
    background-image: url('/local/templates/custom_template/assets/img/main-background.jpg');
}

.footer {
    background-image: url('/local/templates/custom_template/assets/img/footer-background.svg');
    background-repeat: none;
}

.navbar a {
    font-size: 16px;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #000000;

}

.main .look-all {
    gap: 1rem;
}

.main .bx-link {
    text-decoration: none;
    color: rgba(249, 126, 56, 1);
    transition: all 0.3s ease;
}

.footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer a:hover {
    color: rgba(249, 126, 56, 1);
    transition: all 0.3s ease;
}

h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
}

@media (max-width: 767.98px) {
    .desktop-schedule {
        display: none !important;
    }

    .mobile-schedule {
        display: block !important;
    }

    .footer h5 {
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) {
    .mobile-schedule {
        display: none !important;
    }

    .desktop-schedule {
        display: block !important;
    }

}
/* End */


/* Start:/local/templates/custom_template/components/bitrix/menu/custom_menu_header/style.css?1750269146600*/
.header-menu {
    height: 100%;
    /* Занимает всю доступную высоту */
    margin-left: 1.5rem;
    /* Убирает стандартный отступ слева у списка */
}

.header-menu li {
    margin-right: 1.5rem;
    /* Отступ между элементами меню */
}

.header-menu .bx-link {
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #000;
}

.header-menu .bx-link:hover {
    color: rgba(249, 126, 56, 1);
    transition: all 0.3s ease;
}
/* End */


/* Start:/local/templates/custom_template/components/bitrix/menu/custom_menu_footer/style.css?1750269137213*/
.menu-footer .bx-link {
    text-decoration: none;
    color: #fff;
}

.menu-footer .bx-link:hover {
    color: rgba(249, 126, 56, 1);; /* Эффект при наведении */
    transition: all 0.3s ease;
}
/* End */
/* /local/templates/custom_template/template_styles.css?1750344295623 */
/* /local/templates/custom_template/styles.css?17503442851250 */
/* /local/templates/custom_template/components/bitrix/menu/custom_menu_header/style.css?1750269146600 */
/* /local/templates/custom_template/components/bitrix/menu/custom_menu_footer/style.css?1750269137213 */
