.breadcrumb-item .bx-link {
    text-decoration: none;
    color: #6c757d;
}

.breadcrumb {
    min-height: 40px;
    padding-bottom: 0.5rem;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-divider {
    color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb-item-active {
    color: #E14D31;
}

.breadcrumb-item a {
    color: #E14D31;
}

.breadcrumb-item a:hover {
    color: #E14D31;
    transition: all 0.3s ease;
}