.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-divider {
    color: #6c757d;
    display: flex;
    align-items: center;
}

.breadcrumb-item-active {
    color: #E14D31;
    display: flex;
    align-items: center;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #6c757d;
}

.breadcrumb-item a:hover {
    color: #E14D31;
    transition: all 0.3s ease;
}

span {
    font-size: 12px;
    letter-spacing: 0;
}

.breadcrumb-item {
    padding-bottom: 3px;
}