.header-menu-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding-right: 12px;
    color: black;
}

.header-menu-link:hover {
    color: #E14D31;
    transition: all 0.3s ease;
}