.header a {
    text-decoration: none;
    color: #000000;
}

.mobile-menu-under {
    background-color: rgba(239, 240, 241, 1);
}

.mobile-menu-under a {
    color: rgba(249, 126, 56, 1);
    text-decoration: none;
}

.main {
    background-color: rgba(239, 240, 241, 1);
}

.main button {
    text-decoration: none;
    color: rgba(249, 126, 56, 1);
}

.main .orange-text {
    text-decoration: none;
    color: rgba(249, 126, 56, 1);
}

.footer {
    background-image: url('assets/img/footer-background.svg');
}

.footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer a:hover {
    color: rgba(249, 126, 56, 1);
    transition: all 0.3s ease;
}

.footer button {
    text-decoration: none;
    color: rgba(249, 126, 56, 1);
}