

/* Start:/local/templates/custom_template/template_styles.css?1749847203432*/
:root {
  --brand-dark: rgba(225, 77, 49, 1);
  --brand-light: rgba(249, 126, 56, 1);
  --gray-100: rgba(239, 240, 241, 1);
  --gray-200: rgba(224, 228, 232, 1);
  --gray-300: rgba(209, 217, 225, 1);
  --gray-400: rgba(192, 200, 209, 1);
  --gray-500: rgba(144, 154, 163, 1);
  --gray-600: rgba(110, 123, 136, 1);
  --gray-700: rgba(59, 67, 81, 1);
  --gray-800: rgba(51, 54, 61, 1);
  --gray-900: rgba(21, 22, 24, 1);
}
/* End */


/* Start:/local/templates/custom_template/styles.css?1749920574105*/
.main{
    background-color: var(--gray-100);
}

.footer {
    background-color: var(--gray-900);
}
/* End */


/* Start:/local/templates/custom_template/components/bitrix/menu/custom_menu_footer/style.css?17496874984*/





/* End */
/* /local/templates/custom_template/template_styles.css?1749847203432 */
/* /local/templates/custom_template/styles.css?1749920574105 */
/* /local/templates/custom_template/components/bitrix/menu/custom_menu_footer/style.css?17496874984 */
