

/* Start:/local/templates/custom_template/components/bitrix/news/custom_block_news/bitrix/news.detail/.default/style.css?1750946701303*/
.news-title {
    font-size: 1rem;
    line-height: 1.2;
}

.news-image img {
    object-fit: cover;
    max-height: 500px;
}

.news-text {
    color: black;
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .news-text {
        color: black;
        font-size: 1rem;
    }
}
/* End */
/* /local/templates/custom_template/components/bitrix/news/custom_block_news/bitrix/news.detail/.default/style.css?1750946701303 */
