

/* Start:/local/templates/custom_template/components/bitrix/breadcrumb/custom_breadcrumb/style.css?1750110307889*/
.breadcrumb-item .bx-link {
    text-decoration: none;
    color: #000000; /* Пример */
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    align-items: center;
    min-height: 40px; /* Минимальная высота для nav */
    padding-top: 0.5rem; /* Дополнительный отступ сверху */
    padding-bottom: 0.5rem; /* Дополнительный отступ снизу */
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-divider {
    color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item a {
    color: rgba(249, 126, 56, 1);
}

.breadcrumb-item a:hover {
    color: rgba(249, 126, 56, 1);
}
/* End */


/* Start:/local/templates/custom_template/components/bitrix/news/custom_news/bitrix/news.list/.default/style.css?17496920231*/


/* End */
/* /local/templates/custom_template/components/bitrix/breadcrumb/custom_breadcrumb/style.css?1750110307889 */
/* /local/templates/custom_template/components/bitrix/news/custom_news/bitrix/news.list/.default/style.css?17496920231 */
