

/* Start:/local/templates/custom_template/components/bitrix/news.list/interesting_news/style.css?17515544331016*/
.news-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    overflow: hidden;
    height: 215px;
}

.card-img-top img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-body {
    padding: 1rem;
}

.card-title a {
    color: #000;
    text-decoration: none;
}

.card-title a:hover {
    color: rgba(249, 126, 56, 1);
}

@media (max-width: 768px) {
    .gapper {
        gap: 19px;
    }

    .news-list{
        padding-bottom: 28px;
    }

    .inter-news-head {
        padding-top: 92px;
        padding-left: 10px;
    }

    .inter-news-link {
        padding-top: 10px;
    }
}

@media (min-width: 768px){
    .inter-news-head{
        padding-top: 55px;
        padding-left: 10px;
    }

    .inter-news-name{
        font-size: 33px;
    }

    .inter-news-link{
        font-size: 14px;
        padding-top: 11px;
        padding-right: 10px;
    }
}
/* End */
/* /local/templates/custom_template/components/bitrix/news.list/interesting_news/style.css?17515544331016 */
